.loginCard {
    margin-left: 800px;
    margin-top: 300px;
}

.profileCard {
    /* margin-left: 650px;
    margin-top: 300px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.editProfileCard {
    margin-left: 700px;
    margin-top: 200px;
    max-width: 600px;
}

.card {
    width: 600px;
}

.button {
    width: 100px;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.HeaderBar {
    height: 48px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: white;
}

.ExpoHeader {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
    padding-left: 19%;
}

.ExpoHeaderFont {
    font-size: 70px;
}

.Background {
    flex: 1;
    background-color: #dadce0;
    height:90em;
}


.lineBackground {
    flex: 1;
    background-color: black;
    
}

.RowContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.ColumnContent {
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.inputBox {
    border-radius: 50;
}

.Block {
    height: 180px;
    width: 180px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    background-color: white;
}


.linechartBlock {
    height: 45%;
    width: 62%;
    flex-direction: row;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
    margin-left: 19%;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    border: 10%;
}

.linechartBlock2 {
    height: 55%;
    width: 80%;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    border: 10%;
}

.linechartSurvey {
    flex-direction: row;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    border: 10%;
}

.surveySummayGraph {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.pieBlock {
    height: 230px;
    width: 455px;
    margin-left: 23%;
    margin-top: 2%;
    background-color: white;
    border: 5%;
    flex-direction: row;
}

.doughnutBlock {
    /* height: 120%;
    width: 60%; */
    height: 20%;
    width: 30%;
    margin-left: 32%;

    background-color: white;
    border: 5%;
}
.doughnutBlockBooth {
    /* height: 120%;
    width: 60%; */
    height: 20%;
    width: 30%;
    margin-left: 20%;

    background-color: white;
    border: 5%;
}


.numBlock {
    height: 230px;
    width: 455px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    border: 5%;
}

.numBlock2 {
    height: 230px;
    width: 455px;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: white;
    border: 5%;
}

.chartHeader {
    padding-left: 7%;
    padding-top: 1%;
    font-size: 25px;
    font-weight: bold;
    background-color: "#282c34";
}

.chartNumDetail {
    padding-top: 3%;
    font-size: 80px;
    justify-content: center;
    display: flex;
}

.chartNumPercent {
    padding-top: 3%;
    font-size: 20px;
    justify-content: center;
    display: flex;
}

.rowDirect {
    flex-direction: row;
    display: flex;
    margin-left: 5%;
}

.rowDirectAvg {
    flex-direction: row;
    display: flex;
    margin-left: 25%;
   
}

.columnDirect {
    flex-direction: column;
    display: flex;
}

.expoSUmButt {
    width: 145px;
    height: 38px;
    padding-left: 1.5%; 
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 3%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(23, 162, 184);
    color: white;
}

.expoSUmButt2 {
    width: 145px;
    height: 38px;
    padding-left: 1.2%; 
    margin-left: 83%;
    margin-top: 2%;
    border-radius: 3%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(23, 162, 184);
    color: white;
}

.linechartbutt {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 30px;
    background-color: rgba(255, 206, 86, 0.6);
    
}

.emotionPercentList {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.happyBlock {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 2%;
    width: 50px;
    height: 15px;
    background-color: rgba(255, 206, 86, 0.6);
}

.sadBlock {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 2%;
    width: 50px;
    height: 15px;
    background-color: rgba(54, 162, 235, 0.6);
}

.disappointBlock {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 2%;
    width: 50px;
    height: 15px;
    background-color: rgb(149, 125, 173);
}

.surpriseBlock {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 2%;
    width: 50px;
    height: 15px;
    background-color: rgba(255, 159, 64, 0.6);
}

.angryBlock {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 2%;
    width: 50px;
    height: 15px;
    background-color: rgb(255, 154, 162);
}

.fearBlock {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 2%;
    width: 50px;
    height: 15px;
    background-color: rgb(170, 169, 173);
}

.neturalBlock {
    margin-left: 20%;
    margin-top: 1%;
    margin-right: 2%;
    width: 50px;
    height: 15px;
    background-color: rgb(181, 234, 215);
}

.userInBlock {
    font-size: 40px;
    margin-left: 18%;
    margin-top: 15%;
    justify-content: center;
}

.boothNameInBlock {
    margin-left: 10%;
    justify-content: flex-end;
    flex-direction: row;
}

.survayListButt{
    flex-direction: row;
    justify-content: space-around;
}

.surveyListHead{
    margin-left: 2%; 
    margin-top: 2%;
    margin-bottom: 1%;  
    height: '25px';
    width: '150px';
    font-size: "60px";
    justify-content: flex-start;
    flex-direction: row;
    /* background-color: aquamarine; */
}

.table td{
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}